<!DOCTYPE html>
<html>

<head>
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/carrito.css">
</head>

<%- include('partials/header.ejs')%>

<body>
    <%- include('partials/carrousel.ejs')%>

    <!-- Contenedor de productos -->
    <div class="productos-container">
        <!-- Producto 1 -->
    
        <% for (let i = 0; i < usuario.productos.length; i++) { %>
            <div class="producto">
                <div class="producto-info">
                    <div class="img-container">
                        <img src="<%= usuario.productos[i].imagen %>" alt="<%= usuario.productos[i].nombre %>">
                    </div>
                    <div class="producto-detalle">
                        <h2 class="descripciones">
                            <%= usuario.productos[i].nombre %>
                        </h2>
                        <p class="precios">
                            <i class="fa-solid fa-dollar-sign"></i>
                            <%= usuario.productos[i].precio %>
                        </p>
                        <p class="descuentos">   
                            <%= usuario.productos[i].descripcion %> 
                        </p>
                        <!-- Contenedor de los botones y el contador -->
                      <!--   <div class="cantidad-productos" id="count">
                            <form action="/carrito/restar" method="GET">
                                <button type="submit" class="disminuir-btn">Menos productos</button>
                            </form>
                            <span class="contador"><%= count %></span>
                            <form action="/carrito/agregar" method="GET">
                                <button type="submit" class="aumentar-btn">Mas productos</button>
                            </form>
                        </div> -->
                        <div>
                            <label>Cantidad de productos:</label>
                            <input type="number" value="1" min="1">
                        </div>
                    </div>
                </div>
                <form action="/delete?_method=DELETE" method="POST">
                    <input type="hidden" name="producto_id" value="<%= usuario.productos[i].id %>">
                    <button class="empty-btn" type="submit">Eliminar Producto<i class="fas fa-trash"></i>
                    </button>
                </form>
            </div>
            
          <% } %>
            
        </div>

        <a href="/confirmation">
            <button class="buy-btn">Comprar Producto<i class="fa-solid fa-cart-shopping"></i></button>
        </a>
        <%- include('partials/footer.ejs') %>
