<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/editform.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <form action="/products/editar/<%= producto.id %>?_method=PUT" method="POST" class="formulario"> 
            
            <section class="edit">
                <div class="main-title">
                    <h2>Editando producto "<%= producto.nombre %>" | ID <%= producto.id %></h2>
                </div>
                <div class="product-image">
                    <img src="<%=producto.imagen%>" alt="<%=producto.nombre%>">
                </div>
                <div>
                    <img class="product-image" src="<%= producto.img %>">
                </div>
                <div class="form">
                    <label for="nombre">Nombre</label>
                    <input class="input" type="text" name="nombre" id="nombre" value="<%= producto.nombre %>"></input>
                </div>

                <div>
                    <label>Categoria:</label>
                    <select name="categoria">
                        <% for (let i= 0; i < categoria.length; i++) { %>
                            <% if (categoria[i].id === producto.categoria_id) { %>
                                <option value="<%=categoria[i].id%>" selected>
                                    <%=categoria[i].nombre%>
                                </option>
                            <% } else { %>
                                <option value="<%=categoria[i].id%>">
                                    <%=categoria[i].nombre%>
                                </option>
                            <% } %>
                       <% } %>
                    </select>
                </div>
            
                <div>
                    <label for="descripcion">Descripción</label>
                    <input type="text" name="descripcion" id="descripcion" value="<%= producto.descripcion %>"></input>
                </div>

                <div>
                    <label for="precio">Precio</label>
                    <input type="number" name="precio" id="precio" value="<%= producto.precio %>"></input>
                </div>
                <div>
                    <button type="submit">Editar producto</button>
                </div>
            </section>    
        </form>
    </main>
    
    <%- include('partials/footer.ejs') %>
</body>
</html>