<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <title>Appetite</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    
    <main>

<!-- Carrusel Imagenes Footer -->
<div id="carousel-container">
    <img id="carousel-image" src="/img/banner.png">
    <div id="carousel-text"> </div>
</div>

<!-- Carrusel Animacion Footer -->
<script>
    const images = ["/img/banner.png", "/img/Captura de pantalla 2023-12-12 090824.png", "/img/dietas.jpg"];
    let currentIndex = 0;

    function showNextImage() {
        currentIndex++;
        if (currentIndex >= images.length) {
            currentIndex = 0;
        }
        showImage(currentIndex);
    }

    function showImage(index) {
        document.getElementById("carousel-image").src = images[index];
    }
    
    setInterval(showNextImage, 3000);
</script>
        <section class="categorias">
            <h3 class="texto-categorias">Categorías</h3>
            <% for(let i = 0; i < categoria.length; i++ ) { %>
                 <article class="categorias-producto">
                <div>
                    <img src="/img/categorias/<%=categoria[i].imagen%>" alt="<%= categoria[i].nombre %>" class="img-categoria">
                </div>
                <h4 class="nombre-categoria"><%= categoria[i].nombre %></h4>
            </article>
            <% } %>
        </section>

        <section class="menu-del-dia">
            <h3 class="texto-menu">Menú del día</h3>

            
                <% for ( let i = 0; i < producto.length; i++) { %>
                    <article class="menu-producto">
                        <div>
                            <img src="<%=producto[i].imagen%>" alt="<%=producto[i].nombre%>" class="img-menu">
                        </div>
                        <h4><%=producto[i].nombre%></h4>
                        <p class="descripcion">
                            <%= producto[i].descripcion %>
                        </p>
                        <h5 class="precio">
                            <i class="fa-solid fa-dollar-sign"></i>
                            <%= producto[i].precio %>
                        </h5>
                        <a class="link" href="/products/<%=producto[i].id%>">
                            <button class="details-button">
                                <i class="fa-solid fa-square-arrow-up-right"></i>
                                Detalles
                            </button>
                        </a>
                        
                    </article>
                <% } %>
            
            </article>
<!-- 
            <article class="menu-producto">
                <div>
                    <img src="/img/menu-del-dia/milanesa-con-papas.jpg" alt="Producto" class="img-menu">
                </div>
                <h4>Milanesa con papas</h4>
                <p class="descripcion">
                    La milanesa con papas es un plato clásico y reconfortante que combina tierna carne empanizada con papas fritas. La carne, ya sea de res, pollo o cerdo, se sumerge en huevo batido y se cubre con migas de pan antes de ser cocida hasta obtener una textura crujiente y dorada. Las papas, fritas o asadas, complementan este plato simple y delicioso. 
                </p>
                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2950
                </h5>
                <a class="link" href="/carrito/milanesa-con-papas">
                    <button class="añadir">
                        <i class="fa-solid fa-cart-plus"></i>
                        Agregar
                    </button>
                </a>
                
            </article>

            <article class="menu-producto">
                <div>
                    <img src="/img/menu-del-dia/pollo-con-papas.jpg" alt="Producto" class="img-menu">
                </div>
                <h4>Pollo con papas</h4>
                <p class="descripcion">
                    El pollo con papas es un plato reconfortante que combina tiernas piezas de pollo con papas suavemente sazonadas. El pollo se prepara con especias que realzan su sabor y se cocina a la perfección, resultando jugoso y delicioso. Las papas, ya sea asadas o en rodajas, complementan el plato con su textura suave. Una opción simple y satisfactoria.
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    3100
                </h5>

                <%- include('partials/agregarbutton.ejs') %>
            </article>

            <article class="menu-producto">
                <div>
                    <img src="/img/menu-del-dia/ensalada.jpg" alt="Producto" class="img-menu">
                </div>
                <h4>Ensalada</h4>
                <p class="descripcion">
                   La ensalada fresca es una deliciosa mezcla de hojas verdes, tomates jugosos y pepinos refrescantes. Aderezada con una vinagreta suave, resalta la frescura de los ingredientes. Las hojas verdes aportan textura, mientras que los tomates y pepinos añaden un toque crujiente y vibrante. Una opción ligera y saludable que combina sabores para una experiencia deliciosa.
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    1100
                </h5>

                <%- include('partials/agregarbutton.ejs') %>
            </article> -->
        </section>

        <section class="combos">
            <h3 class="texto-combos">Combos</h3>

            <article class="combos-producto">
                <div class="div-img-combo">
                    <img src="/img/combos/hamburguesa-con-papas.png" alt="Producto" class="img-combo">
                </div>

                <h4 class="combo-nombre">Hamburguesa con papas</h4>

                <p class="descripcion">
                   La hamburguesa con papas es un clásico deleite gastronómico que combina una jugosa y sabrosa carne entre dos panes suaves, acompañada de crujientes papas fritas doradas. Esta deliciosa combinación ofrece una explosión de sabores y texturas, desde la carne jugosa hasta las papas crujientes, creando una experiencia culinaria satisfactoria y reconfortante para los amantes de la comida rápida.
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    3500
                </h5>

                <%- include('partials/agregarbutton.ejs') %>
            </article>
            
            <article class="combos-producto">
                <div class="div-img-combo">
                    <img src="/img/combos/pizza-con-coca.jpg" alt="Producto" class="img-combo">
                </div>

                <h4 class="combo-nombre">Pizza con Coca-Cola</h4>

                <p class="descripcion">
                    La pizza con Coca-Cola es un dúo irresistible de placer gastronómico. La combinación de una sabrosa pizza, con su perfecta fusión de queso derretido y toppings apetitosos, junto con el efervescente y refrescante sabor de una Coca-Cola helada, crea una experiencia culinaria que deleita los sentidos y satisface los antojos, haciendo de cada bocado una deliciosa celebración.                   
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    3600
                </h5>
                <%- include('partials/agregarbutton.ejs') %>
            </article>

            <article class="combos-producto">
                <div>
                    <img src="/img/combos/pollo-con-ensalada.jpg" alt="Producto" class="img-combo">
                </div>

                <h4 class="combo-nombre">Pechuga de pollo con ensalada rusa</h4>

                <p class="descripcion">
                    La pechuga de pollo con ensalada rusa es un platillo que equilibra la suavidad de la pechuga de pollo a la parrilla con la frescura y cremosidad de la ensalada rusa. La jugosidad del pollo se combina armoniosamente con los trozos de papa, zanahoria y guisantes en la ensalada, creando una experiencia gastronómica satisfactoria y llena de sabores.
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2900
                </h5>

                <%- include('partials/agregarbutton.ejs') %>
            </article>

            <article class="combos-producto">
                <div>
                    <img src="/img/combos/papas-con-coca.png" alt="Producto" class="img-combo">
                </div>

                <h4 class="combo-nombre">Papas fritas con Coca-Cola</h4>

                <p class="descripcion">
                    Las papas fritas con Coca-Cola ofrecen la combinación perfecta de indulgencia y refrescancia. Las crujientes papas doradas, saladas y deliciosamente sabrosas se complementan con el efervescente y dulce sabor de una Coca-Cola helada. Este dúo clásico proporciona una experiencia gastronómica reconfortante que satisface los antojos con cada bocado y sorbo, creando un placer indulgente.  
                </p>

                <h5 class="precio">
                    <i class="fa-solid fa-dollar-sign"></i>
                    2000
                </h5>

                <%- include('partials/agregarbutton.ejs') %>
            </article>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>
</body>
</html>