<!DOCTYPE html>
<html>
<head>
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/carrito.css">
</head>

<%- include('partials/header.ejs') %>

<div id="carousel-container">
    <img id="carousel-image" src="/img/image1.jpg">
    <div id="carousel-text">TU CARRITO DE COMPRAS APPETITE</div>
  </div>
  
  <script>
    const images = ["/img/image1.jpg", "/img/image2.jpeg", "/img/image3.jpeg"];
    let currentIndex = 0;
  
    function showNextImage() {
      currentIndex++;
      if (currentIndex >= images.length) {
        currentIndex = 0;
      }
      showImage(currentIndex);
    }
  
    function showImage(index) {
      document.getElementById("carousel-image").src = images[index];
    }
  
    // Cambiar imagen 1seg.
    setInterval(showNextImage, 1000);
  </script>

   <div class="bloque-mostaza">
    Este es un bloque color mostaza
  </div>
  
<body>
    <!-- Contenedor de productos -->
    <div class="productos-container">
        <!-- Contenedor de productos -->
<div class="productos-container">
    <!-- Productos -->
    <!-- Producto 1 -->
    <a href="/product/details/<%= informacion[0].id %>">
      <div class="producto">
        <div class="producto-info">
          <img src = <%= informacion[0].img %> alt="Hamburguesa">
          <div class="producto-detalle">
            <h2 class="descripciones"><%= informacion[0].producto %> </h2>
            <p class="precios"> $ <%= informacion[0].precio %> </p>
            <p class="descuentos">Nuestras hamburguesas son deliciosas y accesibles,
                 hechas con ingredientes de alta calidad 
                 para garantizar el mejor sabor en cada bocado</p>
            <!-- Contenedor de los botones y el contador -->
            <div class="cantidad-productos">
              <button class="disminuir-btn">Menos Productos</button>
              <span class="contador">1</span>
              <button class="aumentar-btn">Mas Productos</button>
            </div>
          </div>
        </div>
      </div>
    
      <button class="empty-btn">Eliminar Producto<i class="fas fa-trash"></i></button>
    
      <script>
        // Obtener los botones y el contador
        const disminuirBtn = document.querySelector('.disminuir-btn');
        const aumentarBtn = document.querySelector('.aumentar-btn');
        const contador = document.querySelector('.contador');
      
        // Agregar un evento al botón para disminuir la cantidad de productos
        disminuirBtn.addEventListener('click', () => {
          // Obtener la cantidad actual de productos
          let cantidad = parseInt(contador.textContent);
      
          // Disminuir la cantidad si es mayor a 1
          if (cantidad > 1) {
            cantidad--;
            contador.textContent = cantidad;
          }
        });
      
        // Agregar un evento al botón para aumentar la cantidad de productos
        aumentarBtn.addEventListener('click', () => {
          // Obtener la cantidad actual de productos
          let cantidad = parseInt(contador.textContent);
      
          // Aumentar la cantidad si es menor a 8
          if (cantidad < 8) {
            cantidad++;
            contador.textContent = cantidad;
          }
        });
      </script>
      
    
    </a>


    <!-- Producto 2 -->
    <a href="/product/detais/<%= informacion[1].id %>">
      <div class="producto">
        <div class="producto-info">
          <img src="<%= informacion[1].img %>" alt="PIZZA">
          <div class="producto-detalle">
            <h2 class="descripciones"><%= informacion[1].producto %></h2>
            <p class="precios">$<%= informacion[1].precio %></p>
            <p class="descuentos">Nuestras pizzas están hechas con masa casera, preparada con los mejores 
                ingredientes para lograr una textura y sabor únicos. Cada pizza es una obra de arte culinaria, 
                creada con pasión y dedicación para ofrecerte una experiencia gastronómica inolvidabl</p>
            <!-- Contenedor de los botones y el contador -->
            <div class="cantidad-productos">
              <button class="disminuir-btn">Menos Productos</button>
              <span class="contador">1</span>
              <button class="aumentar-btn">Mas Productos</button>
            </div>
          </div>
        </div>
      </div>
    </a>
  <button class="empty-btn">Eliminar Producto<i class="fas fa-trash"></i></button>
  <script>
    // Obtener los botones y el contador
    const disminuirBtn = document.querySelector('.disminuir-btn');
    const aumentarBtn = document.querySelector('.aumentar-btn');
    const contador = document.querySelector('.contador');
  
    // Agregar un evento al botón para disminuir la cantidad de productos
    disminuirBtn.addEventListener('click', () => {
      // Obtener la cantidad actual de productos
      let cantida = parseInt(contador.textContent);
  
      // Disminuir la cantidad si es mayor a 1
      if (cantida > 1) {
        cantida--;
        contador.textContent = cantida;
      }
    });
  
    // Agregar un evento al botón para aumentar la cantidad de productos
    aumentarBtn.addEventListener('click', () => {
      // Obtener la cantidad actual de productos
      let cantida = parseInt(contador.textContent);
  
      // Aumentar la cantidad si es menor a 8
      if (cantida < 8) {
        cantida++;
        contador.textContent = cantida;
      }
    });
  </script>



    <!-- Producto 3 -->
    <a href="/product/details/<%= informacion[2].id %>">
      <div class="producto">
        <div class="producto-info">
          <img src="<%= informacion[2].img %>" alt="PAPAS">
          <div class="producto-detalle">
            <h2 class="descripciones"><%= informacion[2].producto %></h2>
            <p class="precios">$ <%= informacion[2].precio %></p>
            <p class="descuentos">Nuestras papas fritas son el acompañamiento perfecto para cualquier comida. C
                ortadas en finas rodajas y fritas hasta alcanzar una textura crocante y dorada, 
                estas deliciosas papas son irresistibles</p>
            <!-- Contenedor de los botones y el contador -->
            <div class="cantidad-productos">
              <button class="disminuir-btn">Menos Productos</button>
              <span class="contador">1</span>
              <button class="aumentar-btn">Mas Productos</button>
            </div>
          </div>
        </div>
    </a>
  </div>
  <button class="empty-btn">Eliminar Producto<i class="fas fa-trash"></i></button>
  <script>
    // Obtener los botones y el contador
    const disminuirBtn = document.querySelector('.disminuir-btn');
    const aumentarBtn = document.querySelector('.aumentar-btn');
    const contador = document.querySelector('.contador');
  
    // Agregar un evento al botón para disminuir la cantidad de productos
    disminuirBtn.addEventListener('click', () => {
      // Obtener la cantidad actual de productos
      let cantidad = parseInt(contador.textContent);
  
      // Disminuir la cantidad si es mayor a 1
      if (cantidad > 1) {
        cantidad--;
        contador.textContent = cantidad;
      }
    });
  
    // Agregar un evento al botón para aumentar la cantidad de productos
    aumentarBtn.addEventListener('click', () => {
      // Obtener la cantidad actual de productos
      let cantidad = parseInt(contador.textContent);
  
      // Aumentar la cantidad si es menor a 8
      if (cantidad < 8) {
        cantidad++;
        contador.textContent = cantidad;
      }
    });
  </script>
  



<!-- Producto 4 -->

<a href="/product/details/<%= informacion[3].id %>">
  <div class="producto">
    <div class="producto-info">
      <img src="<%= informacion[3].img %>" alt="PANCHO">
      <div class="producto-detalle">
        <h2 class="descripciones"><%= informacion[3].producto %></h2>
        <p class="precios"><%= informacion[3].precio %></p>
        <p class="descuentos">Nuestros panchos son la opción perfecta para una comida rápida y deliciosa. 
            Hechos con salchichas de alta calidad y servidos en un pan suave y esponjoso, nuestros panchos son una explosión 
            de sabor en cada bocado.
             Acompáñalos con tus aderezos favoritos para una experiencia culinaria única</p>
        <!-- Contenedor de los botones y el contador -->
        <div class="cantidad-productos">
          <button class="disminuir-btn">Menos Productos</button>
          <span class="contador">1</span>
          <button class="aumentar-btn">Mas Productos</button>
        </div>
      </div>
    </div>
  </div>
</a>

  <button class="empty-btn">Eliminar Producto<i class="fas fa-trash"></i></button>
  <script>
    // Obtener los botones y el contador
    const disminuirBtn = document.querySelector('.disminuir-btn');
    const aumentarBtn = document.querySelector('.aumentar-btn');
    const contador = document.querySelector('.contador');
  
    // Agregar un evento al botón para disminuir la cantidad de productos
    disminuirBtn.addEventListener('click', () => {
      // Obtener la cantidad actual de productos
      let cantidad = parseInt(contador.textContent);
  
      // Disminuir la cantidad si es mayor a 1
      if (cantidad > 1) {
        cantidad--;
        contador.textContent = cantidad;
      }
    });
  
    // Agregar un evento al botón para aumentar la cantidad de productos
    aumentarBtn.addEventListener('click', () => {
      // Obtener la cantidad actual de productos
      let cantidad = parseInt(contador.textContent);
  
      // Aumentar la cantidad si es menor a 8
      if (cantidad < 8) {
        cantidad++;
        contador.textContent = cantidad;
      }
    });
  </script>
  
  
    <!-- Contenedor de boton compra -->
    <div class="contenedor-botones">
        <div class="dropdown">
          <button class="dropbtn comprar-carrito">COMPRAR CARRITO <i class="fa fa-shopping-cart"></i></button>
          <div class="dropdown-content">
            <a href="#">Confirmar Carrito</a>
            <a href="#">Cancelar Carrito</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Métodos de Pago <i class="fa fa-credit-card"></i></button>
          <div class="dropdown-content">
            <a href="#">Tarjeta de Crédito</a>
            <a href="#">Tarjeta de Debito</a>
            <a href="#">Transferencia Bancaria</a>
            <a href="#">MODO</a>
          </div>
        </div>
      </div>

      <%- include('partials/footer.ejs') %>